@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: "Geist Sans", ui-sans-serif, system-ui, sans-serif !important;
  background: #2E3104cc;
}

html,
body {
  height: 100%;
}